.city-advantages {
  list-style: none;
  margin: 0;
  padding: 0;
  color: @basic-black;
  background-color: @basic-white;
}

.city-advantages__header {
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;
}

.city-advantages__description {
  text-align: center;
  text-transform: uppercase;
}
