.photo-video__header {
  padding: 0;
  margin: 0;
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;
}

.photo-video__photo-description {
  margin: 0;
  padding: 0;
  text-align: center;
  .set-font(@line-height: 26px);
  text-transform: uppercase;
}

.photo-video__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-video__picture {
  max-width: 100%;
  height: auto;
}

.photo-video__photo-header {
  margin: 0;
  padding: 0;
  .set-font(@line-height: 24px; @font-weight: 700);
  text-transform: uppercase;
}

.photo-video__author {
  margin: 0;
  padding: 0;
  .set-font(@line-height: 24px);
}

.photo-video__likes {
  display: block;
  .set-font(@line-height: 24px; @font-weight: 700);
}
