.promo__picture {
  max-width: 100%;
  height: auto;
}

.promo__presentation {
  padding: 0;
  margin: 0;
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;
}

.promo__description {
  padding: 0;
  margin: 0;
  text-align: center;
  .set-font(@line-height: 26px);
  text-transform: uppercase;
}
