.sedona-review {
  position: relative;
  padding-bottom: 66px;
}

.sedona-review__wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    width: calc(768px - 120px);
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: calc(1200px - 240px);
    margin: 0 auto;
  }
}

.sedona-review__header {
  margin: 0;
  padding: 0;
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;
  padding-top: 36px;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    .set-font(30px, 26px, 700);
    padding-top: 70px;
    padding-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 119px;
  }
}

.sedona-review__description {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 16px;
  text-align: center;
  .set-font(@line-height: 24px);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 435px;
    padding-bottom: 55px;
  }
}

.sedona-review__form {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content 58px;
  }
}

.sedona-review__fieldset {
  position: relative;
  padding: 0;
  padding-top: 65px;
  margin: 0;
  width: 100%;
  border: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: @basic-grey-dark;

    @media (min-width: @tablet-width) {
      height: 0;
    }
  }

  &--decor-line {
    &::after {
      @media (min-width: @tablet-width) {
        content: "";
        position: absolute;
        width: 123px;
        height: 1px;
        top: 30px;
        right: 0;
        background-color: @basic-grey-ultradark-;
      }

      @media (min-width: @desktop-width) {
        width: 280px;
      }
    }

    &::before {
      @media (min-width: @tablet-width) {
        content: "";
        position: absolute;
        width: 123px;
        height: 1px;
        top: 30px;
        left: 0;
        background-color: @basic-grey-ultradark-;
      }

      @media (min-width: @desktop-width) {
        width: 280px;
      }
    }
  }

  &:nth-child(1) {
    @media (min-width: @tablet-width) {
      padding-bottom: 27px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 43px;

      .sedona-review__legend {
        top: 0;
        left: 0;
        margin: 0;
      }
    }
  }

  &:nth-child(2) {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &:nth-child(3) {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;

      .sedona-review__legend {
        text-align: left;
      }
    }

    @media (min-width: @desktop-width) {
      padding-top: 43px;

      .sedona-review__legend {
        top: 0;
        text-align: center;
      }
    }
  }

  &:nth-child(4) {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (min-width: @desktop-width) {
      .sedona-review__legend {
        left: -20px;
      }
    }
  }
}

.sedona-review__legend {
  position: absolute;
  width: 320px;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .set-font(21px, 26px, 700);
    top: 20px;
    text-align: center;
    margin: 0 auto;
  }
}

.sedona-review__list {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 40px;

    &--impression {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -30px;
        height: 292px;
        width: 1px;
        background-color: @basic-grey-ultradark-;
      }
    }

    &--name {
      padding-left: 58px;
    }
  }


  &--checkboxes {
    padding-top: 20px;

    @media (min-width: @tablet-width) {
      padding-top: 53px;

      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: @desktop-width) {
      justify-content: space-between;
    }
  }

  &--checkboxes,
  &--contacts {
    @media (min-width: @desktop-width) {
      display: flex;
      flex-direction: row;
    }
  }

  &--contacts {
    @media (min-width: @tablet-width) {
      padding-top: 0;
    }

    @media (min-width: @desktop-width) {
      padding-top: 52px;
    }
  }
}

.sedona-review__item {
  &--name {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 25px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 20px;
    }
  }

  &--contacts {
    padding-bottom: 14px;

    @media (min-width: @tablet-width) {
      padding-bottom: 25px;
    }

    @media (min-width: @desktop-width) {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    &:last-child {
      padding-bottom: 28px;

      @media (min-width: @tablet-width) {
        padding-bottom: 52;
      }
    }
  }

  &--impression {
    padding-bottom: 11px;

    &:last-child {
      padding-bottom: 26px;
    }
  }

  &--attractions {
    &:last-child {
      padding-bottom: 25px;
    }
  }

  @media (min-width: @tablet-width) {
    &--column-left {
      padding-left: 90px;
      min-width: 259px;
      margin-left: auto;
    }

    &--column-right {
      margin-right: auto;
    }
  }

  @media (min-width: @desktop-width) {
    &--column-left {
      padding-left: 0;
      min-width: auto;
      margin-left: 0;
    }

    &--column-right {
      margin-right: 0;
    }
  }
}

.sedona-review__label {
  display: block;
  .set-font(@line-height: 26px);
  text-transform: uppercase;

  &--name {
    padding-right: 8px;

    @media (min-width: @desktop-width) {
      padding-right: 13px;
    }
  }

  &--contacts {
    display: block;
    padding-bottom: 8px;
    padding-left: 22px;

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }

  &--tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -56px;
      right: 0;
      width: 58px;
      height: 56px;
      background-color: @basic-grey-extradark;
      background-image: url("../img/icon-phone.svg");
      background-position: 21px 20px;
      background-repeat: no-repeat;
    }

    @media (min-width: @desktop-width) {
      display: none;

      &::after {
        right: -316px;
        top: -20px;
      }
    }
  }

  &--tel-short {
    display: none;
    position: relative;

    @media (min-width: @desktop-width) {
      padding-right: 16px;
      display: block;

      &::after {
        content: "";
        position: absolute;
        right: -316px;
        top: -17px;
        width: 58px;
        height: 58px;
        background-color: @basic-grey-extradark;
        background-image: url("../img/icon-phone.svg");
        background-position: 21px 20px;
        background-repeat: no-repeat;
      }
    }
  }

  &--email {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -56px;
      right: 0;
      width: 58px;
      height: 56px;
      background-color: @basic-grey-extradark;
      background-image: url("../img/icon-mail.svg");
      background-position: 21px 23px;
      background-repeat: no-repeat;
    }

    @media (min-width: @desktop-width) {
      padding-left: 75px;
      padding-right: 21px;

      &::after {
        right: -316px;
        top: -15px;
      }
    }
  }
}

.sedona-review__input {
  width: 100%;
  font-family: inherit;
  .set-font(18px, 26px, 700);
  box-sizing: border-box;
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 10px;
  background-color: @basic-grey;
  border: 4px solid transparent;

  @media (min-width: @desktop-width) {
    width: 258px;
  }

  &--name {
    @media (min-width: @desktop-width) {
      width: 100%;
    }
  }

  &::placeholder {
    color: @basic-black;
    .set-font(18px, 26px, 700);
  }

  &:hover {
    background-color: @basic-grey-dark;
  }

  &:focus {
    outline: none;
    border: 4px solid @basic-grey-dark;
    background-color: @basic-white;
  }
}

.sedona-review__label-impression,
.sedona-review__label-attractions {
  .set-font(18px, 26px, 700);
}

.sedona-review__label-impression {
  display: block;
  position: relative;
  padding-left: 74px;
  padding-top: 19px;
  padding-bottom: 19px;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
    border: 5px solid @basic-grey;
    background-color: @basic-grey;
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    &::before {
      cursor: pointer;
      background-color: @basic-grey-dark;
      border-color: @basic-grey-dark;
    }
  }

  &:active {
    &::before {
      background-color: @basic-grey-ultradark;
      border-color: @basic-grey-ultradark;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
  }
}

.sedona-review__label-attractions {
  display: block;
  box-sizing: border-box;
  position: relative;
  padding-left: 74px;
  padding-top: 19px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 37px;
  }

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border: 5px solid @basic-grey;
    background-color: @basic-grey;
    border-radius: 5%;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    &::before {
      cursor: pointer;
      background-color: @basic-grey-dark;
      border-color: @basic-grey-dark;
    }
  }

  &:active {
    &::before {
      background-color: @basic-grey-ultradark;
      border-color: @basic-grey-ultradark;
    }
  }
}

.sedona-review__input-impression {
  &:checked + .sedona-review__label-impression {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Ccircle r='12' cx='12' cy='12' fill='%23333333'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 12px 12px;
    }

    &:active {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Ccircle r='12' cx='12' cy='12' fill-opacity='0.3' fill='%23333333'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.sedona-review__input-attractions {
  &:checked + .sedona-review__label-attractions {
    &::before {
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: 12px 15px;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.sedona-review__label-review {
  position: relative;
  padding-bottom: 15px;
  display: block;
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .set-font(21px, 26px, 700);
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      top: 15px;
      right: 0;
      background-color: @basic-grey-ultradark-;
    }

    @media (min-width: @desktop-width) {
      width: 280px;
    }
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      top: 15px;
      left: 0;
      background-color: @basic-grey-ultradark-;
    }

    @media (min-width: @desktop-width) {
      width: 280px;
    }
  }
}

.sedona-review__review-text {
  margin: 0;
  padding: 0;
  border-top: 1px solid @basic-grey-dark;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 51px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 58px;
    border-top: none;
  }
}

.sedona-review__textarea {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  .set-font(18px, 26px, 700);
  width: 100%;
  resize: none;
  padding: 0;
  margin: 0;
  padding-top: 13px;
  padding-left: 21px;
  padding-right: 23px;
  border: 4px solid transparent;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    min-height: 160px;
  }

  &::placeholder {
    color: @basic-black;
  }

  &:hover {
    background-color: @basic-grey-dark;
  }

  &:focus {
    outline: none;
    border: 4px solid @basic-grey-dark;
    background-color: @basic-white;
  }
}

.sedona-review__btn-submit {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 19px;
  padding-bottom: 13px;
  cursor: pointer;
  text-align: center;
  font: inherit;
  .set-font(21px, 26px, 700);
  text-transform: uppercase;
  border: none;
  color: @basic-white;
  background-color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  &:hover,
  &:focus {
    background-color: @basic-blue;
  }

  &:active {
    background-color: @basic-blue-dark;
  }
}

.sedona-review__add-info {
  display: none;
  position: absolute;
  bottom: 15px;
  color: @basic-black-light;
  .set-font(@line-height: 26px);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    display: block;
    right: 0;
  }
}
