.sedona-video {
  margin: 0 auto;
  padding-bottom: 106px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 30px;
  }
}

.sedona-video__wrapper {
  position: relative;
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.sedona-video__question {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 30px;
  width: 266px;
  display: block;
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .set-font(30px, 26px, 700);
    width: 445px;
    padding-top: 78px;
  }

  @media (min-width: @desktop-width) {
    .set-font(30px, 26px, 700);
    width: 445px;
    padding-top: 73px;
  }
}

.sedona-video__description {
  margin: 0 auto;
  padding-bottom: 33px;
  width: 266px;
  text-align: center;
  .set-font(@line-height: 24px);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 505px;
    padding-bottom: 62px;
  }

  @media (min-width: @tablet-width) {
    width: 505px;
    padding-bottom: 65px;
  }
}

.sedona-video__preview {
  margin: 0 auto;
  text-align: center;
  display: block;
  outline: 2px dotted orange;
}

.sedona-video__poster {
  margin: 0 auto;
  display: block;
  width: 320px;
  height: 201px;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.sedona-video__controls {
  position: absolute;
  bottom: -66px;
  left: 20px;

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 93px;
    bottom: 0;
    left: 0;
    background-color: @basic-black-controls;
  }
}

.sedona-video__progress-block {
  position: relative;
  width: 280px;
  height: 45px;
  background-color: @basic-black-controls;

  @media (min-width: @tablet-width) {
    z-index: 3;
    position: absolute;
    left: 93px;
    width: 389px;
    height: 100%;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    width: 540px;
  }
}

.sedona-video__progress-bar {
  position: absolute;
  left: 22px;
  top: 22px;
  width: 235px;
  height: 3px;
  background-color: @basic-white-bar;

  @media (min-width: @tablet-width) {
    top: 50%;
    left: 0;
    width: 100%;
  }
}

.sedona-video__progress-toggle {
  position: absolute;
  top: -3px;
  left: 34px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: @basic-white;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: @tablet-width) {
    left: 111px;
  }
}

.sedona-video__togglies {
  position: relative;
  width: 280px;
  height: 66px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 93px;
    background-color: transparent;
  }
}

.sedona-video__replay-toggle {
  fill: @special-toggle;
  position: absolute;
  width: 16px;
  height: 20px;
  left: 25px;
  top: 22px;

  &:hover {
    cursor: pointer;
    fill: @basic-black-light;
  }

  &:active {
    fill: @basic-black-light;
    fill-opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    fill: @basic-white;
    top: 35px;
    left: 35px;

    &:hover {
      fill: @basic-white;
      fill-opacity: 0.6;
    }

    &:active {
      fill: @basic-white;
      fill-opacity: 0.3;
    }
  }
}

.sedona-video__fullscreen-toggle {
  fill: @special-toggle;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 23px;
  top: 23px;

  polygon {
    fill: @special-toggle;
  }

  &:hover {
    cursor: pointer;

    polygon {
      fill: @basic-black-light;
    }
  }

  &:active {
    polygon {
      fill-opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    right: 41px;
    top: 36px;

    polygon {
      fill: @basic-white;
    }

    &:hover {
      polygon {
        fill: @basic-white;
        fill-opacity: 0.6;
      }
    }

    &:active {
      polygon {
        fill: @basic-white;
        fill-opacity: 0.3;
      }
    }
  }
}

.sedona-video__subtitles-toggle {
  fill: @special-toggle;
  position: absolute;
  width: 32px;
  height: 20px;
  right: 74px;
  top: 23px;

  path {
    fill: @special-toggle;
  }

  &:hover {
    cursor: pointer;

    path {
      fill: @basic-black-light;
    }
  }

  &:active {
    path {
      fill-opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    top: 36px;
    right: 92px;

    path {
      fill: @basic-white;
    }

    &:hover {
      path {
        fill: @basic-white;
        fill-opacity: 0.6;
      }
    }

    &:active {
      path {
        fill: @basic-white;
        fill-opacity: 0.3;
      }
    }
  }
}

.sedona-video__video {
  display: none;
  margin: 0 auto;
  width: 320px;
  height: 201px;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
