.sedona-reservation__user-interest {
  display: block;
  text-align: center;
  .set-font(21px, 26px, 700);
  text-transform: uppercase;
}

.sedona-reservation__description {
  text-align: center;
  .set-font(@line-height: 24px);
  text-transform: uppercase;
}

.sedona-reservation__btn-reservation {
  text-decoration: none;
  .set-font(21px, 26px, 700);
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-blue-light;
}
