.sedona-presentation__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: url("../img/bg-triangle.svg");
    background-position: center -21px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &::before {
      display: none;
    }
  }
}

.sedona-presentation__item {
  z-index: 2;
  padding: 0;
  margin: 0;
  color: @basic-black;
  background-color: @basic-white-dark;

  &--full {
    color: @basic-white;
    background-color: @basic-blue-light;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
  }
}

.sedona-presentation__header {
  padding: 0;
  margin: 0;
  padding-top: 55px;
  padding-bottom: 10px;
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;

  &--incomplete {
    @media (max-width: @tablet-width) {
      padding-top: 26px;
    }
  }

  &--full {
    padding-top: 39px;

    @media (min-width: @desktop-width) {
      width: 140px;
      padding-top: 47px;
      padding-bottom: 14px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 152px;
    .set-font(21px, 26px, 700);

    &--pos-lower {
      padding-top: 52px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 152px;
    padding-top: 43px;
    padding-bottom: 14px;
  }
}

.sedona-presentation__number {
  display: block;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 21px;
  }
}

.sedona-presentation__description {
  width: 277px;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 39px;
  text-align: center;
  text-transform: uppercase;

  &--incomplete {
    @media (max-width: @tablet-width) {
      padding-bottom: 33px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 45px;
    width: 215px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    padding-bottom: 62px;
  }
}

.sedona-presentation__item-wrapper {
  &--reverse {
    @media (min-width: @tablet-width) {
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }
}

.sedona-presentation__picture {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    position: relative;
    height: 256px;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  &--reverse {
    @media (min-width: @tablet-width) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.sedona-presentation__img {
  position: relative;
  display: block;
  width: 320px;
  margin: 0 auto;

  &--pos-center {
    @media (min-width: @desktop-width) {
      position: absolute;
      top: -74px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 512px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
