.sedona-review {
  position: relative;
}

.sedona-review__wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    outline: 2px dotted green;
    width: calc(100% - 120px);
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: calc(100% - 240px);
    margin: 0 auto;
  }
}

.sedona-review__header {
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .set-font(30px, 26px, 700);
  }
}

.sedona-review__description {
  text-align: center;
  .set-font(@line-height: 24px);
  text-transform: uppercase;
}

.sedona-review__form {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 58px;
  }
}

.sedona-review__fieldset {
  outline: 2px dotted red;
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;

  &:nth-child(2) {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &:nth-child(3) {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  &:nth-child(4) {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.sedona-review__legend {
  padding: 0;
  margin: 0;
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;
}

.sedona-review__list {
  list-style: none;
  padding: 0;
  margin: 0;

  &--checkboxes {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &--checkboxes,
  &--contacts {
    @media (min-width: @desktop-width) {
      display: flex;
      flex-direction: row;
    }
  }
}

.sedona-review__label {
  .set-font(@line-height: 26px);
  text-transform: uppercase;

  &--contacts {
    display: block;
  }
}

.sedona-review__input {
  box-sizing: border-box;
  .set-font(18px, 26px, 700);
  padding-top: 18px;
  padding-left: 22px;
  padding-bottom: 14px;
  background-color: @basic-grey;
  border: 4px solid transparent;

  &::placeholder {
    color: @basic-black;
  }

  &:hover {
    background-color: @basic-grey-dark;
  }

  &:focus {
    outline: none;
    border: 4px solid @basic-grey-dark;
    background-color: @basic-white;
  }
}

.sedona-review__label-impression,
.sedona-review__label-attractions {
  .set-font(18px, 26px, 700);
}

.sedona-review__label-review {
  display: block;
  text-align: center;
  .set-font(18px, 26px, 700);
  text-transform: uppercase;
}

.sedona-review__review-text {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}


.sedona-review__textarea {
  display: block;
  box-sizing: border-box;
  .set-font(18px, 26px, 700);
  width: 287px;
  resize: none;
  padding: 0;
  margin: 0;
  padding-top: 13px;
  padding-left: 21px;
  padding-right: 23px;
  border: 4px solid transparent;
  background-color: @basic-grey;

  &::placeholder {
    color: @basic-black;
  }

  &:hover {
    background-color: @basic-grey-dark;
  }

  &:focus {
    outline: none;
    border: 4px solid @basic-grey-dark;
    background-color: @basic-white;
  }
}

.sedona-review__btn-submit {
  cursor: pointer;
  text-align: center;
  .set-font(21px, 26px, 700);
  text-transform: uppercase;
  border: none;
  color: @basic-white;
  background-color: @basic-blue-light;

  &:hover,
  &:focus {
    background-color: @basic-blue;
  }

  &:active {
    background-color: @basic-blue-dark;
  }
}

.sedona-review__add-info {
  display: none;
  position: absolute;
  bottom: 10px;
  .set-font(@line-height: 26px);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    right: 60px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    right: 120px;
  }
}
