@basic-black: #000000;
@basic-black-light: #333333;
@basic-blue-dark: #5496BD;
@basic-blue: #669EC0;
@basic-blue-light: #81B3D2;
@basic-grey-dark: #E5E5E5;
@basic-grey: #F2F2F2;
@basic-white-dark: #EEEEEE;
@basic-white: #ffffff;
